body,html {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
}

.absolute {
	width: 100%;
	height: 100%;
	position: absolute;
}

.content {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2%;
}

.grid {
	display: grid;
	grid-gap: 4mm;
}

.layer-1 {
	width: 100%;
	display: flex;
	gap: 3%;
	justify-content: center;
	align-items: center;
}

.layer-1.left {
	grid-row: 1/2;
	grid-column: 1/2;
}

.layer-1.middle {
	grid-row: 1/2;
	grid-column: 2/3;
}

.layer-1.right {
	grid-row: 1/2;
	grid-column: 3/4;
}

.layer-1.bottom {
	grid-row: 2/3;
	grid-column: 1/4;
	display: flex;
	justify-content: left;
	/* margin-left: 2mm; */
}

/* UPDATE, to make the image changing faster, I'll change display:none;
/*
 * for inner curved border 
 * https://css-tricks.com/body-border-rounded-inside/
 * but before that I saw (also in the comments, you can see peoples also said) there were method using box-shadow:
 * https://codepen.io/marktripney/pen/RwaEaga 
 */
/*
img {
	width: 4cm;
	height: 4cm;
	/* border: 2mm solid black; */
	/*
	border-radius: 2mm;
	box-shadow: 0 0 0 2mm black; /* but also changed some alignment... no need margin-left in .layer-1.bottom, already aligned, and update the .grid grid-gap. */
/*}
*/


/* https://stackoverflow.com/a/8775218 */
.layer-1.left div,
.layer-1.right div {
	width: 4cm;
	height: 4cm;
	border-radius: 2mm;
	box-shadow: 0 0 0 2mm black;
	overflow: hidden;
	position: relative;
}


.rock, .paper, .scissor {
	/*display: none;*/
	opacity: 0;
	position: absolute;
	transition-duration: 0.3s;
	/* 
	 * to use transition time or things like this, we gotta play with visibility, opacity. not the display unless there isn't a way to accomplish with java, but for the display, don't think so
	 * oh and also position is already absolute, so eligible for opacity etc... 
	 * https://stackoverflow.com/questions/3331353/transitions-on-the-css-display-property
	 */
}

.rock {
	height: 4cm;
	left: -27%;
}

.paper {
	height: 4cm;
}

.scissor {
	width: 4cm;
	top: 11%;
}


button {
	height: 1cm;
}


